@import 'tailwindcss';
html,
body {
  overflow: hidden; /* 스크롤바를 숨기고 스크롤 동작을 비활성화 */
  overscroll-behavior: none; /* 오버스크롤 효과도 비활성화 */
  touch-action: none; /* 혹시 모를 경우를 대비해 전역적으로 추가 */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e293b; /* Tailwind CSS의 slate-800 색상입니다. */
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}

/* For the scrollbar track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* For the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

/* For the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
