@import 'tailwindcss';
body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e293b; /* Tailwind CSS의 slate-800 색상입니다. */
}

/* Custom Scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}

/* For the scrollbar track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* For the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

/* For the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}